<div class="col">
    <h2 class="mb-0"><a class="text-decoration-none" href="{{ slug }}">{{ title }}</a></h2>
    {% if image %}<img class="w-100 mb-2" src="{{ image }}" alt="{{ image_alt }}" />{% endif %}
    <p class="initial lh-sm m-0">{{ content|striptags|u.truncate(230, '...', false) }}</p>
</div>