<div class="float-start me-2">
    <img width="51" height="51" class="img-fluid" src="/images/profile/{{ image }}"/>
</div>
<div class="float-start">
    <h2 class="mb-0"><a class="text-decoration-none" href="/p/{{ slug }}">{{ title }}</a></h2>
    <p>By <a href="/u/{{ username }}">{{ username }}</a> - {{ created_at|ago }}</p>
</div>